html {
    font-size: 15px;
}

body {
    margin: 0;

    font-size: Arial, sans-serif;
    font-size: 1rem;
    color: #121212;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 20px auto;

    background-color: #eee;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    width: 100%;
}

.clearfix:after {
    clear: both;
}

.main {
    float: left;
    width: 70%;
    padding: 20px;
}

.sidebar {
    float: right;
    background-color: #ccc;
    width: 30%;
    height: 100%;
    padding: 10px;
}

.title {
    margin: 0 0 1rem;

    font-size: 2rem;
    color: #121212;
}

.img {
    float: left;
    margin-right: 10px;

    display: none;
    transition: opacity 0.2s linear;
}

.text:active .img {
    display: block;
}

.footer {
    padding: 10px;

    background-color: #333;
    color: #fff;
}
